<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<title>Location Service - AngularJS Training</title>
		<meta charset="utf-8">
		<base href="../" target="_self" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/angular.svg" />
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
	</head>
	<body ng-controller="AppController">

		<div class="jumbotron" id="top">
			<h1>{{ title }}</h1>
			<p>
				Created by {{ author.name }} {{ author.surname }} on {{ year }}.
			</p>
		</div>

		<div class="container">
			<input type="button" class="form-control" value="To Bottom" ng-click="scrollTo('bottom')"/>
		</div>

		<div class="container">
			<h2>Trainees List</h2>
			<ul>
				<li ng-repeat="trainee in trainees">
					{{ trainee.name }} {{ trainee.surname | uppercase }}
					<ul>
						<li>Code: {{ trainee.code }}</li>
						<li>Phone: {{ trainee.phone }}</li>
						<li>Address: {{ trainee.address }}</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="container" id="bottom">
			<input type="button" class="form-control" value="To Top" ng-click="scrollTo('top')"/>
		</div>

	</body>
</html>
