<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Online Calculator</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <!-- Customs CSS and JS -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="script.js"></script>
    <script src="ctrl.js"></script>
  </head>
  <body ng-app="app" ng-controller="ctrl">
    <header class="jumbotron">
      <div class="container">
        <h1>Online Calculator</h1>
  			<p>Created by Juan Carlos Sosa Peña on 2018.</p>
      </div>
    </header>
    <section ng-cloak>
      <div class="container">
        <form class="form-inline" ng-submit="calculate()">
  				<div class="form-group col-md-8" ng-repeat="val in values track by $index">
            <input type="number" class="form-control col-md-4" placeholder="Number {{ $index + 1 }}" ng-model="values[$index]" />
  				</div>
  				<input type="submit" class="form-control" value="Calculate" />
  			</form><br/>
        <div class="col-md-8">
          <label class="form-label col-md-2 font-weight-bold">Result:</label>
          <span class="form-control col-md-4" ng-bind="result"></span>
        </div><br/>
      </div>
    </section>

    <!-- JQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
