<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<title>Custom Service Services - AngularJS Training</title>
		<meta charset="utf-8">
		<base href="../" target="_self" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/angular.svg" />
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
		<script type="text/javascript" src="js/svc.js"></script>
	</head>
	<body ng-controller="AppController">

		<div class="jumbotron">
			<h1>{{ title }}</h1>
			<p>
				Created by {{ author.name }} {{ author.surname }} on {{ year }}.
			</p>
		</div>

		<div class="container">
			<h2>Rut Validator</h2>
			<div class="btn-group">
				<input type="button" value="Validate" class="form-control btn btn-primary col-md-6"
					ng-click="validate(input)" />
				<input type="text" ng-model="input" placeholder="Input RUT"
					class="form-control" />
			</div>
			<h5 ng-init="flag=''">
				<span ng-class="{'text-danger':flag == 'Wrong', 'text-success':flag == 'Right'}"
					ng-bind="flag"></span>

			</h5>
		</div>

	</body>
</html>
