@import url('typography-style.css');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');

html, body {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  padding: 30px 20px 5px 20px;

  color: #222;
  background-color: rgba(216, 65, 236, 0.1);
  visibility: visible !important;
}

a:link, a:visited {
    text-decoration: inherit;
    color: inherit;
}

.logo {
  display: inline-block;
  width: 90%;
  height: 60px;
}

.page-footer {
  color: black;
  padding: 30px 20px 5px 20px;
  font-size: 11px;
}

ul.unstyled {
  list-style: none;
  padding: 5px 5px 5px 10px;
}

.page-footer li {
  padding: 0 0 2px 0;
}

.copyright {
  text-align: right;
  color: gray;
}
