@media (min-width: 0px) {
  h1 {font-size: 30px !important;}
  h2 {font-size: 25px !important;}
  h3 {font-size: 20px !important;}
  h4 {font-size: 15px !important;}
  h5, p {font-size: 10px !important;}
  h6 {font-size: 8px !important;}
}

@media (min-width: 544px) {
  h1 {font-size: 32px !important;}
  h2 {font-size: 27px !important;}
  h3 {font-size: 22px !important;}
  h4 {font-size: 17px !important;}
  h5, p {font-size: 12px !important;}
  h6 {font-size: 10px !important;}
}

@media (min-width: 768px) {
  h1 {font-size: 34px !important;}
  h2 {font-size: 29px !important;}
  h3 {font-size: 24px !important;}
  h4 {font-size: 19px !important;}
  h5, p {font-size: 14px !important;}
  h6 {font-size: 12px !important;}
}

@media (min-width: 992px) {
  h1 {font-size: 36px !important;}
  h2 {font-size: 31px !important;}
  h3 {font-size: 26px !important;}
  h4 {font-size: 21px !important;}
  h5, p {font-size: 16px !important;}
  h6 {font-size: 14px !important;}
}

@media (min-width: 1200px) {
  h1 {font-size: 38px !important;}
  h2 {font-size: 33px !important;}
  h3 {font-size: 28px !important;}
  h4 {font-size: 23px !important;}
  h5, p {font-size: 18px !important;}
  h6 {font-size: 16px !important;}
}
