<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<title>Two-Way Bindings - AngularJS Training</title>
		<meta charset="utf-8">
		<base href="../" target="_self" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/angular.svg" />
		<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="../lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
	</head>
	<body ng-controller="AppController">

		<header class="jumbotron">
			<div class="container">
				<h1>{{ title }}</h1>
				<p>
					Created by {{ author.name }} {{ author.surname }} on {{ year }}.
				</p>
			</div>
		</header>

		<section class="container">
			<h2>User Information</h2>
			<dl class="form-vertical">
				<dt class="form-group">
					<label for="name" class="control-label col-md-1">Name: </label>
					<!-- Two Way Data Binding -->
					<input type="text" name="name" id="name" ng-model="user.name" class="col-md-2" />
				</dt>
				<dt class="form-group">
					<label for="surname" class="control-label col-md-1">Surname: </label>
					<!-- Two Way Data Binding -->
					<input type="text" name="surname" id="surname" ng-model="user.surname" class="col-md-2" />
				</dt>
			</dl>
			<!-- One Way Data Binding -->
			<h3>Welcome {{ user.name }} <span ng-bind="user.surname"></span>.</h3>
			<!-- One Time Data Binding -->
			<h3>Original Name {{ ::user.name }} {{ ::user.surname }}.</h3>
		</section>

	</body>
</html>
