<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<title>Search - AngularJS Training</title>
		<meta charset="utf-8">
		<base href="../" target="_self" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/angular.svg" />
		<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="../lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
	</head>
	<body ng-controller="AppController">

		<header class="jumbotron">
			<div class="container">
				<h1>{{ title }}</h1>
				<p>
					Created by {{ author.name }} {{ author.surname }} on {{ year }}.
				</p>
			</div>
		</header>

		<section class="container">
			<h2>
				Trainees List
				<div class="btn-group float-right col-md-2">
					<input type="button" ng-click="page=page-1" ng-disabled="page<=1"
						value="prev" class="btn btn-sm btn-default col-md-6" />
					<input type="button" ng-click="page=page+1" ng-disabled="trainees.length<=page*step"
						value="next" class="btn btn-sm btn-default col-md-6" />
				</div>
				<div class="btn-group float-right col-md-7">
					<input type="search" ng-model="searchText[fieldSearch]" placeholder="Search"
						class="form-control" />
					<select ng-model="fieldSearch" ng-options="field for field in fields"
						class="form-control col-md-4" ng-init="fieldSearch=fields[0]">
					</select>
				</div>
			</h2>
			<table class="table table-bordered" ng-init="page=1;step=2;">
				<tr>
					<th ng-repeat="field in fields">{{ field }}</th>
				</tr>
				<tr ng-repeat="trainee in trainees | filter: searchText">
					<td>{{ trainee.name }}</td>
					<td>{{ trainee.surname | uppercase }}</td>
					<td>{{ trainee.code | lowercase }}</td>
					<td>{{ trainee.phone }}</td>
					<td>{{ trainee.address }}</td>
					<td>{{ trainee.register | date: 'dd-MM-yyyy' }}</td>
					<td>{{ trainee.payment | currency: 'CLP ' : 0 }}</td>
				</tr>
			</table>
		</section>

	</body>
</html>
