FROM php:7.3-apache

RUN apt update && apt-get upgrade -y
RUN apt-get install -y curl git supervisor zip unzip

COPY --from=composer:latest /usr/bin/composer /usr/bin/composer

RUN a2enmod rewrite

ENV APP_HOME /var/www/html

RUN mkdir -p /opt/data/public
RUN rm -r /var/www/html
RUN ln -s /opt/data/public $APP_HOME

WORKDIR $APP_HOME

RUN docker-php-ext-install mysqli
RUN docker-php-ext-install pdo pdo_mysql

RUN docker-php-ext-configure pdo_mysql --with-pdo-mysql=mysqlnd
RUN docker-php-ext-configure mysqli --with-mysqli=mysqlnd

COPY default.conf /etc/apache2/sites-enabled/000-default.conf
COPY php.ini /usr/local/etc/php/

CMD ["/usr/sbin/apache2ctl", "-D", "FOREGROUND"]

EXPOSE 80
