		<title><%= title %> - NodeJS Training</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/resources/style.css">
