			<h2>
				{{ header }}
				<div class="btn-group float-right col-md-2">
					<input type="button" ng-click="page=page-1" ng-disabled="page<=1"
						value="prev" class="btn btn-sm btn-default col-md-6" />
					<input type="button" ng-click="page=page+1" ng-disabled="data.length<=page*step"
						value="next" class="btn btn-sm btn-default col-md-6" />
				</div>
			</h2>

			<table class="table table-bordered" ng-init="page=1;step=10;">
				<tr>
					<th ng-repeat="field in fields">{{ field }}</th>
				</tr>
				<tr ng-repeat="row in data | limitTo: step : (page-1)*step">
					<td ng-repeat="info in row">{{ info }}</td>
				</tr>
			</table>
