<div class="row">
  <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">
    <h4>Mapa del Sitio</h4>
    <hr>
    <ul class="unstyled col-sm-12">
      <li ng-repeat="menu in menus"><h5><a href="{{ menu.page }}.html">
        <div class="float-left"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">{{ menu.title }}</div></a></h5></li>
    </ul>
  </div>
  <div class="col-sm-8 col-md-5 col-lg-5 col-xl-5">
    <h4>Información de Contacto</h4>
    <hr>
    <ul class="unstyled col-sm-12">
      <li><h5><a href="https://goo.gl/maps/hi9CMSGzfgC2" target="_blank">
        <div class="float-left"><i class="fa fa-globe fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">Sector El Toro. Radal Siete Tazas. Molina. Chile</div></a></h5></li>
      <li><h5><a href="mailto:cabanaseltororadal@gmail.com" target="_blank">
        <div class="float-left"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">cabanaseltororadal@gmail.com</div></a></h5></li>
      <li><h5><a href="https://www.facebook.com/cabanaseltoro" target="_blank">
        <div class="float-left"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">facebook.com/cabanaseltoro</div></a></h5></li>
      <li><h5><a href="tel:+56948827144" target="_blank">
        <div class="float-left"><i class="fa fa-whatsapp fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">+56 9 4882 7144</div></a></h5></li>
      <li><h5><a href="tel:+56978750246" target="_blank">
        <div class="float-left"><i class="fa fa-whatsapp fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">+56 9 7875 0246</div></a></h5></li>
    </ul>
  </div>
  <div class="offset-sm-4 col-sm-8 offset-md-0 col-md-4 col-lg-4 col-xl-5">
    <h4>Enlaces de Interes</h4>
    <hr>
    <ul class="unstyled col-sm-12">
      <li><h5><a href="http://www.conaf.cl/parques/reserva-nacional-radal-siete-tazas/" target="_blank">
        <div class="float-left"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">Corporación Nacional Forestal (CONAF)</div></a></h5></li>
      <li><h5><a href="http://chilemochilero.cl/" target="_blank">
        <div class="float-left"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">Chileno Mochilero</div></a></h5></li>
      <li><h5><a href="https://www.trekkingchile.com/es/" target="_blank">
        <div class="float-left"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">Trekking Chile</div></a></h5></li>
      <li><h5><a href="https://www.booking.com/hotel/cl/cabanas-el-toro-radal-siete-tazas.es.html" target="_blank">
        <div class="float-left"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">Booking.com</div></a></h5></li>
      <li><h5><a href="https://www.airbnb.cl/rooms/29872958" target="_blank">
        <div class="float-left"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></div>
        <div class="col-sm-12 ml-3">AirBNB</div></a></h5></li>
    </ul>
  </div>
</div>




<hr>

<h6 class="copyright"><a href="https://www.linkedin.com/in/juan-c-sosa-p/" target="_blank">Copyright &copy; 2019 Juan Carlos Sosa Peña</a></h6>
