<div class="px-5">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <h4>Mapa del Sitio</h4>
      <hr>
      <ul class="unstyled col-sm-12">
        <li ng-repeat="menu in menus"><h5><a href="{{ menu.page }}.html">
          <div class="float-left"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></div>
          <div class="col-sm-12 ml-3">{{ menu.title }}</div></a></h5></li>
      </ul>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9 col-xl-10">
      <h4>Información de Contacto</h4>
      <hr>
      <ul class="unstyled col-sm-12">
        <li><h5><a href="mailto:conbefree@gmail.com" target="_blank">
          <div class="float-left"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></div>
          <div class="col-sm-12 ml-3">conbefree@gmail.com</div></a></h5></li>
        <li><h5><a href="tel:+56946327016" target="_blank">
          <div class="float-left"><i class="fa fa-whatsapp fa-fw" aria-hidden="true"></i></div>
          <div class="col-sm-12 ml-3">+56 9 4632 7016</div></a></h5></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<h6 class="copyright"><a href="https://www.linkedin.com/in/juan-c-sosa-p/" target="_blank">Copyright &copy; 2019 Juan Carlos Sosa Peña</a></h6>
