<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<title>Show Directives - AngularJS Training</title>
		<meta charset="utf-8">
		<base href="../" target="_self" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/angular.svg" />
		<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="../lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
	</head>
	<body ng-controller="AppController">

		<header class="jumbotron">
			<div class="container">
				<h1>{{ title }}</h1>
				<p>
					Created by {{ author.name }} {{ author.surname }} on {{ year }}.
				</p>
			</div>
		</header>

		<section class="container">
			<h2>
				Other Trainings
				<input type="button" value="Show" ng-click="showList = true" ng-hide="showList" class="form-control col-md-2 float-right" />
				<input type="button" value="Hide" ng-click="showList = false" ng-show="showList" class="form-control col-md-2 float-right" />
			</h2>
			<ul ng-show="showList" ng-cloak>
				<li ng-repeat="training in trainings">{{ training }}</li>
			</ul>
		</section>

		<section class="container">
			<img ng-src="{{ imgPath }}" />
		</section>

		<section class="container">
			<hr/>
			<select ng-model="selected" ng-options="training for training in trainings"></select>
			<img ng-src="{{ imgPath }}" ng-if="selected == 'JavaScript'"/>
			<hr/>
		</section>

	</body>
</html>
