<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<base href="../" target="_self" />
		<script src="../node_modules/angular/angular.min.js"></script>
		<script src="js/ctrl.js"></script>
		<title>AgularJS Unit Testing Training</title>
	</head>
	<body ng-app="app">
		<div ng-controller="ctrl">
			<header>
				<h1>{{ msg }}</h1>
			</header>
			<section>
				<form ng-submit="addDestination()">
					<label for="city">City:</label>
					<input name="city" type="text" ng-model="newDestination.city" />
					<label for="country">Country:</label>
					<input name="country" type="text" ng-model="newDestination.country" />
					<input type="submit" value="Add" />
				</form>
			</section>
			<section>
				<h2>Your Trip:</h2>
				<ol>
					<li ng-repeat="destination in destinations">
						<span>{{ destination.city }}, {{ destination.country }}</span>
					</li>
				</ol>
			</section>
		</div>
	</body>
</html>
