<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<title>Scope - AngularJS Training</title>
		<meta charset="utf-8">
		<base href="../" target="_self" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/angular.svg" />
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script type="text/javascript" src="js/ctrl.js"></script>
	</head>
	<body>

		<div ng-controller="AppController1">
			<div class="jumbotron">
				<h1>{{ title }}</h1>
				<p>
					Created by {{ author.name }} {{ author.surname }} on {{ year }}.
				</p>
			</div>
		</div>

		<div class="container">
			<h2>VALUE: {{ value }}, LEVEL: {{ level }}, BEFORE</h2>
			<div ng-controller="AppController1">
				<h2>VALUE: {{ value }}, LEVEL: {{ level }}, BEFORE</h2>
				<div ng-controller="AppController2">
					<h2>VALUE: {{ value }}, LEVEL: {{ level }}</h2>
				</div>
				<h2>VALUE: {{ value }}, LEVEL: {{ level }}, AFTER</h2>
				<div ng-controller="AppController3">
					<h2>VALUE: {{ value }}, LEVEL: {{ level }}</h2>
					<input type="button" ng-click="changeValue()" value="Change Value in Controller 3" />
				</div>
				<h2>VALUE: {{ value }}, LEVEL: {{ level }}, AFTER</h2>
			</div>
			<h2>VALUE: {{ value }}, LEVEL: {{ level }}, AFTER</h2>
			<input type="button" ng-click="value='rootValueAgain'" value="Change Value in Root" />
		</div>

	</body>
</html>
